@import "../../styles/colors";
@import "../../styles/fonts";
@import "../../styles/helpers";

.btnWrapper {
  @include kelsonsans16;
  @include noSelect;
  margin-top: 46px;
  min-width: 305px;
  min-height: 52px;
  background-color: $dark_color;
  text-align: center;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $green_accent;
  cursor: pointer;
}
.btnWrapper:active {
  opacity: 0.7;
  background-color: $dark_color;
}
